<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.item_name}}</td>
                            <th style="width: 12%;">{{item.price}}</th>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        
                            <tr>
                                <td></td>
                                <td >Total :</td>
                                <td><strong>  {{grandTotal}}</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td  style="justify-content: end;">Discount :</td>
                                <td><strong> {{ discountAmt}}</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td  style="justify-content: end;">Grand Total :</td>
                      
                                <td><strong> {{ afterDiscPrice()}}</strong></td>
                            </tr>
                        
                    </tfoot>
                </table>
                <div class="row  justify-content-md-end">
                    <div class="col-md-4">
                        <button (click)="emptycart()" class="btn btn-danger">Empty Cart</button>
                        <button routerLink="/products" class="btn btn-primary">Shop More</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>